@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-color: #f8fafc; /* Clean, modern light-gray background */
  color: #0f172a;            /* Dark slate color for readable text */
  font-family: Inter, sans-serif;
}